In [3]:
#Import dependencies
import pandas as pd

### Tesla Wikipedia

In [4]:
# Define url to scrape
tesla_wiki_url = 'https://en.wikipedia.org/wiki/History_of_Tesla,_Inc.#Timeline_of_production_and_sales'

In [5]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(tesla_wiki_url)
tables

 9   Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...
 10  Tesla Factory (Fremont, California) European d...
 11  Criticism of Tesla Lawsuits (list) Dealership ...
 12  History Timeline SolarCity Tesla Roadster in s...
 13                                           Category

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTesla, Inc..2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                           Category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ,
                 0                                                  1
 0         Current                    Model S Model 3 Model X Model Y
 1          Future  Cybertruck ATV/Cyberquad Roadster (2nd generat...
 2    Discontinued                          Roadster (1st generation)
 3  Joint projects  Mercedes A-Class E-Cell Mercedes-Benz B-Class ...,
             0                                                  1
 0  Executives  Robyn Denholm (Chairman) Elon Musk (CEO) Zach ...
 1      Others  Larry Ellison (board) Hiromichi Mizuno (board)...
 2      Former  Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...]

In [8]:
#Select table regarding Total Tesla production and sales since 2012
tesla_prod_df = tables[4]
tesla_prod_df

,Quarter,Cumulativeproduction,Totalproduction,Model Ssales,Model Xsales,Model 3sales,Model Ysales[a],Totalsales[b],In transit[c],Source
0,Q3 2012,NaN,350,250+,NaN,NaN,NaN,250+,NaN,[187]
1,Q4 2012,NaN,"2,750+",2400,NaN,NaN,NaN,2400,NaN,[188]
2,Q1 2013,NaN,"5,000+",4900,NaN,NaN,NaN,4900,NaN,[189]
3,Q2 2013,NaN,NaN,5150,NaN,NaN,NaN,5150,NaN,[190]
4,Q3 2013,NaN,NaN,"5,500+",NaN,NaN,NaN,"5,500+",NaN,[191]
5,Q4 2013,"~34,851",6587,6892,NaN,NaN,NaN,6892,NaN,[192]
6,Q1 2014,"~41,438",7535,6457,NaN,NaN,NaN,6457,NaN,[193]
7,Q2 2014,"~48,973",8763,7579,NaN,NaN,NaN,7579,NaN,[194]
8,Q3 2014,"~57,736","~7,075",7785,NaN,NaN,NaN,7785,NaN,[195]
9,Q4 2014,64811,11627,9834,NaN,NaN,NaN,9834,NaN,[196]
10,Q1 2015,76438,11160,10045,NaN,NaN,NaN,10045,NaN,[197]
11,Q2 2015,89245,12807,11532,NaN,NaN,NaN,11532,NaN,[198]
12,Q3 2015,102336,13091,11597,6,NaN,NaN,11603,NaN,[199]
13,Q4 2015,116373,14037,17272,206,NaN,NaN,17478,NaN,[200]
14,Q1 2016,131883,15510,12420,2400,NaN,NaN,14820,2615,[117]
15,Q2 2016,150228,18345,9764,4638,NaN,NaN,14402,5150,[201][202]
16,Q3 2016,175413,25185,16047,8774,NaN,NaN,24821,5065,[203]
17,Q4 2016[d],200295,24882,12700,9500,NaN,NaN,22254,6450,[204][205]
18,Q1 2017,225713,25418,"~13,450","~11,550",NaN,NaN,25051,"~4,650",[206]
19,Q2 2017,251421,25708,"~12,000","~10,000",NaN,NaN,22026,"~3,500",[207][208]
20,Q3 2017,276757,25336,14065,11865,222.0,NaN,26137,4820,[209][181]
21,Q4 2017,301322,24565,"~15,200","~13,120",1542.0,NaN,29967,3380,[210][211][212]
22,Q1 2018,335816,34494,11730,10070,8182.0,NaN,29997,6100,[213]
23,Q2 2018,389155,53339,10930,11370,18440.0,NaN,40740,15058,[214][215]
24,Q3 2018,469297,80142,14470,13190,56065.0,NaN,83725,11824,[216][217]
25,Q4 2018,555852,86555,13500,14050,63359.0,NaN,90700,2907,[218][219]
26,Q1 2019,632952,77100,12100,12100,50900.0,NaN,63000,10600,[220]
27,Q2 2019,720000,87048,17650,17650,77550.0,NaN,95200,7400,[221][222]
28,Q3 2019,816155,96155,17483,17483,79703.0,NaN,97186,NaN,[223]
29,Q4 2019,921046,104891,19475,19475,92620.0,NaN,112095,NaN,[224]
30,Q1 2020,1023718,102672,12230,12230,76266.0,76266.0,88496,NaN,[224]
31,Q2 2020,1105990,82272,10614,10614,80277.0,80277.0,90891,NaN,[225]
32,Q3 2020,1251026,145036,15275,15275,124318.0,124318.0,139593,NaN,[224]
33,Q4 2020,1430783,179757,18966,18966,161701.0,161701.0,180667,NaN,[224]
34,Q1 2021,1611121,180338,"2,020[e]","2,020[e]",182780.0,182780.0,184800,NaN,[226]

In [24]:
# Get relevant sales columns columns and create new df
tesla_sales_df = tesla_prod_df[['Quarter','Totalsales[b]']]
tesla_sales_df

       Quarter Totalsales[b]
0      Q3 2012          250+
1      Q4 2012          2400
2      Q1 2013          4900
3      Q2 2013          5150
4      Q3 2013        5,500+
5      Q4 2013          6892
6      Q1 2014          6457
7      Q2 2014          7579
8      Q3 2014          7785
9      Q4 2014          9834
10     Q1 2015         10045
11     Q2 2015         11532
12     Q3 2015         11603
13     Q4 2015         17478
14     Q1 2016         14820
15     Q2 2016         14402
16     Q3 2016         24821
17  Q4 2016[d]         22254
18     Q1 2017         25051
19     Q2 2017         22026
20     Q3 2017         26137
21     Q4 2017         29967
22     Q1 2018         29997
23     Q2 2018         40740
24     Q3 2018         83725
25     Q4 2018         90700
26     Q1 2019         63000
27     Q2 2019         95200
28     Q3 2019         97186
29     Q4 2019        112095
30     Q1 2020         88496
31     Q2 2020         90891
32     Q3 2020        139593
33     Q4 2020        180667
34     Q1 2021        184800

In [28]:
#Rename columns
tesla_sales_df = tesla_sales_df.rename(columns = {'Quarter':'Quarter_Yr','Totalsales[b]':'Total_Sales'})
tesla_sales_df

    Quarter_Yr Total_Sales
0      Q3 2012        250+
1      Q4 2012        2400
2      Q1 2013        4900
3      Q2 2013        5150
4      Q3 2013      5,500+
5      Q4 2013        6892
6      Q1 2014        6457
7      Q2 2014        7579
8      Q3 2014        7785
9      Q4 2014        9834
10     Q1 2015       10045
11     Q2 2015       11532
12     Q3 2015       11603
13     Q4 2015       17478
14     Q1 2016       14820
15     Q2 2016       14402
16     Q3 2016       24821
17  Q4 2016[d]       22254
18     Q1 2017       25051
19     Q2 2017       22026
20     Q3 2017       26137
21     Q4 2017       29967
22     Q1 2018       29997
23     Q2 2018       40740
24     Q3 2018       83725
25     Q4 2018       90700
26     Q1 2019       63000
27     Q2 2019       95200
28     Q3 2019       97186
29     Q4 2019      112095
30     Q1 2020       88496
31     Q2 2020       90891
32     Q3 2020      139593
33     Q4 2020      180667
34     Q1 2021      184800

In [30]:
#Check data types
tesla_sales_df['Total_Sales'].dtype

dtype('O')