In [1]:
#Import dependencies
import pandas as pd
import pymongo
import json

## (E) Extract - Scrape Raw Data from sources

In [2]:
# Define url to scrape
tesla_wiki_url = 'https://en.wikipedia.org/wiki/History_of_Tesla,_Inc.#Timeline_of_production_and_sales'

In [3]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(tesla_wiki_url)
tables

 9   Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...
 10  Tesla Factory (Fremont, California) European d...
 11  Criticism of Tesla Lawsuits (list) Dealership ...
 12  History Timeline SolarCity Tesla Roadster in s...
 13                                           Category

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTesla, Inc..2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                           Category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ,
                 0                                                  1
 0         Current                    Model S Model 3 Model X Model Y
 1          Future  Cybertruck ATV/Cyberquad Roadster (2nd generat...
 2    Discontinued                          Roadster (1st generation)
 3  Joint projects  Mercedes A-Class E-Cell Mercedes-Benz B-Class ...,
             0                                                  1
 0  Executives  Robyn Denholm (Chairman) Elon Musk (CEO) Zach ...
 1      Others  Larry Ellison (board) Hiromichi Mizuno (board)...
 2      Former  Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...]

In [4]:
#Select table regarding Total Tesla production and sales since 2012
tesla_prod_df = tables[4]
tesla_prod_df

,Quarter,Cumulativeproduction,Totalproduction,Model Ssales,Model Xsales,Model 3sales,Model Ysales[a],Totalsales[b],In transit[c],Source
0,Q3 2012,NaN,350,250+,NaN,NaN,NaN,250+,NaN,[187]
1,Q4 2012,NaN,"2,750+",2400,NaN,NaN,NaN,2400,NaN,[188]
2,Q1 2013,NaN,"5,000+",4900,NaN,NaN,NaN,4900,NaN,[189]
3,Q2 2013,NaN,NaN,5150,NaN,NaN,NaN,5150,NaN,[190]
4,Q3 2013,NaN,NaN,"5,500+",NaN,NaN,NaN,"5,500+",NaN,[191]
5,Q4 2013,"~34,851",6587,6892,NaN,NaN,NaN,6892,NaN,[192]
6,Q1 2014,"~41,438",7535,6457,NaN,NaN,NaN,6457,NaN,[193]
7,Q2 2014,"~48,973",8763,7579,NaN,NaN,NaN,7579,NaN,[194]
8,Q3 2014,"~57,736","~7,075",7785,NaN,NaN,NaN,7785,NaN,[195]
9,Q4 2014,64811,11627,9834,NaN,NaN,NaN,9834,NaN,[196]
10,Q1 2015,76438,11160,10045,NaN,NaN,NaN,10045,NaN,[197]
11,Q2 2015,89245,12807,11532,NaN,NaN,NaN,11532,NaN,[198]
12,Q3 2015,102336,13091,11597,6,NaN,NaN,11603,NaN,[199]
13,Q4 2015,116373,14037,17272,206,NaN,NaN,17478,NaN,[200]
14,Q1 2016,131883,15510,12420,2400,NaN,NaN,14820,2615,[117]
15,Q2 2016,150228,18345,9764,4638,NaN,NaN,14402,5150,[201][202]
16,Q3 2016,175413,25185,16047,8774,NaN,NaN,24821,5065,[203]
17,Q4 2016[d],200295,24882,12700,9500,NaN,NaN,22254,6450,[204][205]
18,Q1 2017,225713,25418,"~13,450","~11,550",NaN,NaN,25051,"~4,650",[206]
19,Q2 2017,251421,25708,"~12,000","~10,000",NaN,NaN,22026,"~3,500",[207][208]
20,Q3 2017,276757,25336,14065,11865,222.0,NaN,26137,4820,[209][181]
21,Q4 2017,301322,24565,"~15,200","~13,120",1542.0,NaN,29967,3380,[210][211][212]
22,Q1 2018,335816,34494,11730,10070,8182.0,NaN,29997,6100,[213]
23,Q2 2018,389155,53339,10930,11370,18440.0,NaN,40740,15058,[214][215]
24,Q3 2018,469297,80142,14470,13190,56065.0,NaN,83725,11824,[216][217]
25,Q4 2018,555852,86555,13500,14050,63359.0,NaN,90700,2907,[218][219]
26,Q1 2019,632952,77100,12100,12100,50900.0,NaN,63000,10600,[220]
27,Q2 2019,720000,87048,17650,17650,77550.0,NaN,95200,7400,[221][222]
28,Q3 2019,816155,96155,17483,17483,79703.0,NaN,97186,NaN,[223]
29,Q4 2019,921046,104891,19475,19475,92620.0,NaN,112095,NaN,[224]
30,Q1 2020,1023718,102672,12230,12230,76266.0,76266.0,88496,NaN,[224]
31,Q2 2020,1105990,82272,10614,10614,80277.0,80277.0,90891,NaN,[225]
32,Q3 2020,1251026,145036,15275,15275,124318.0,124318.0,139593,NaN,[224]
33,Q4 2020,1430783,179757,18966,18966,161701.0,161701.0,180667,NaN,[224]
34,Q1 2021,1611121,180338,"2,020[e]","2,020[e]",182780.0,182780.0,184800,NaN,[226]

## (T) Transform - Clean Data

In [5]:
# Get relevant sales columns columns and create new df
tesla_sales_df = tesla_prod_df[['Quarter','Totalsales[b]']]
tesla_sales_df

       Quarter Totalsales[b]
0      Q3 2012          250+
1      Q4 2012          2400
2      Q1 2013          4900
3      Q2 2013          5150
4      Q3 2013        5,500+
5      Q4 2013          6892
6      Q1 2014          6457
7      Q2 2014          7579
8      Q3 2014          7785
9      Q4 2014          9834
10     Q1 2015         10045
11     Q2 2015         11532
12     Q3 2015         11603
13     Q4 2015         17478
14     Q1 2016         14820
15     Q2 2016         14402
16     Q3 2016         24821
17  Q4 2016[d]         22254
18     Q1 2017         25051
19     Q2 2017         22026
20     Q3 2017         26137
21     Q4 2017         29967
22     Q1 2018         29997
23     Q2 2018         40740
24     Q3 2018         83725
25     Q4 2018         90700
26     Q1 2019         63000
27     Q2 2019         95200
28     Q3 2019         97186
29     Q4 2019        112095
30     Q1 2020         88496
31     Q2 2020         90891
32     Q3 2020        139593
33     Q4 2020        180667
34     Q1 2021        184800

In [6]:
#Rename columns
tesla_sales_df = tesla_sales_df.rename(columns = {'Quarter':'Quarter_Yr','Totalsales[b]':'Total_Sales'})
# tesla_sales_df.columns = ['Quarter_Yr', 'Total_Sales']
tesla_sales_df

    Quarter_Yr Total_Sales
0      Q3 2012        250+
1      Q4 2012        2400
2      Q1 2013        4900
3      Q2 2013        5150
4      Q3 2013      5,500+
5      Q4 2013        6892
6      Q1 2014        6457
7      Q2 2014        7579
8      Q3 2014        7785
9      Q4 2014        9834
10     Q1 2015       10045
11     Q2 2015       11532
12     Q3 2015       11603
13     Q4 2015       17478
14     Q1 2016       14820
15     Q2 2016       14402
16     Q3 2016       24821
17  Q4 2016[d]       22254
18     Q1 2017       25051
19     Q2 2017       22026
20     Q3 2017       26137
21     Q4 2017       29967
22     Q1 2018       29997
23     Q2 2018       40740
24     Q3 2018       83725
25     Q4 2018       90700
26     Q1 2019       63000
27     Q2 2019       95200
28     Q3 2019       97186
29     Q4 2019      112095
30     Q1 2020       88496
31     Q2 2020       90891
32     Q3 2020      139593
33     Q4 2020      180667
34     Q1 2021      184800

In [7]:
#Check data types
tesla_sales_df['Total_Sales'].dtype

dtype('O')

In [8]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'electric_vehicles' database in Mongo
db = client.electric_vehicles

In [9]:
tesla_sales_df['Total_Sales'] = tesla_sales_df['Total_Sales'].replace(
    {'5,500+': '5500', '250+': '250'})
tesla_sales_df['Quarter_Yr'] = tesla_sales_df['Quarter_Yr'].replace(
    {'Q4 2016[d]': 'Q4 2016'})
tesla_sales_clean_df = tesla_sales_df
tesla_sales_clean_df.set_index('Quarter_Yr')

           Total_Sales
Quarter_Yr
Q3 2012            250
Q4 2012           2400
Q1 2013           4900
Q2 2013           5150
Q3 2013           5500
Q4 2013           6892
Q1 2014           6457
Q2 2014           7579
Q3 2014           7785
Q4 2014           9834
Q1 2015          10045
Q2 2015          11532
Q3 2015          11603
Q4 2015          17478
Q1 2016          14820
Q2 2016          14402
Q3 2016          24821
Q4 2016          22254
Q1 2017          25051
Q2 2017          22026
Q3 2017          26137
Q4 2017          29967
Q1 2018          29997
Q2 2018          40740
Q3 2018          83725
Q4 2018          90700
Q1 2019          63000
Q2 2019          95200
Q3 2019          97186
Q4 2019         112095
Q1 2020          88496
Q2 2020          90891
Q3 2020         139593
Q4 2020         180667
Q1 2021         184800

In [10]:
# Import US EV Sales from Spreadsheet
# read file
excel_file = "10567_pev_sales_2-28-20.xlsx"
us_ev_sales_df = pd.read_excel(excel_file, 'PEV Sales Final 2019', header=2,index_col=1)
us_ev_sales_df

,Unnamed: 0,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Vehicle,,,,,,,,,,,,
Chevy Volt,NaN,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
Nissan Leaf,NaN,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
Smart ED,NaN,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
Mitsubishi I EV,NaN,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
BMW Active E,NaN,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Last updated: January 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acronyms:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EV: All-electric vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PEV: Plug-in electric vehicle. These include both all-electric and plug-in hybrid electric vehicles.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"PHEV: Plug-in hybrid electric vehicle. These include any vehicle that has both an electric motor and gasoline engine, including extended-range electric vehicles.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Remove first column
us_ev_sales_df = us_ev_sales_df.drop(us_ev_sales_df.columns[0], axis=1)

In [17]:
# Remove redundant rows
us_ev_sales_df.drop(us_ev_sales_df.index[56:], axis=0)

,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Vehicle,,,,,,,,,,,
Chevy Volt,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
Nissan Leaf,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
Smart ED,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
Mitsubishi I EV,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
BMW Active E,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
Prius PHEV,PHEV,0.0,12749.0,12088.0,13264.0,4191.0,2474.0,20936.0,27595.0,23630.0,116927.0
Ford Focus EV,EV,0.0,683.0,1738.0,1964.0,1582.0,901.0,1817.0,560.0,0.0,9245.0
Honda Fit EV,EV,0.0,93.0,569.0,407.0,2.0,0.0,0.0,0.0,0.0,1071.0
Tesla Model S,EV,0.0,2400.0,19400.0,16750.0,26200.0,30200.0,26500.0,25745.0,15090.0,162285.0
Toyota RAV4 EV,EV,0.0,192.0,1005.0,1184.0,18.0,0.0,0.0,0.0,0.0,2399.0
Ford C-Max Energi,PHEV,0.0,2374.0,7154.0,8433.0,7591.0,7957.0,8140.0,582.0,0.0,42231.0
Honda Accord,PHEV,0.0,0.0,526.0,449.0,64.0,0.0,0.0,0.0,0.0,1039.0
Ford Fusion Energi,PHEV,0.0,0.0,6089.0,11550.0,9750.0,15938.0,9632.0,8074.0,7476.0,68509.0
Chevy Spark,EV,0.0,0.0,560.0,1145.0,2629.0,3035.0,23.0,7.0,0.0,7399.0
Fiat 500E,EV,0.0,0.0,260.0,1503.0,3477.0,3737.0,3336.0,2250.0,632.0,15195.0
Porsche Panamera S E-Hybrid,PHEV,0.0,0.0,51.0,879.0,407.0,393.0,18.0,2036.0,1958.0,5742.0
Cadillac ELR,PHEV,0.0,0.0,6.0,1310.0,1024.0,534.0,17.0,1.0,0.0,2892.0
BMW i3,EV,0.0,0.0,0.0,6092.0,11024.0,7625.0,6276.0,6117.0,4854.0,41988.0
Mercedes B-Class (B250e),EV,0.0,0.0,0.0,774.0,1906.0,632.0,744.0,135.0,9.0,4200.0
BMW i8,PHEV,0.0,0.0,0.0,555.0,2265.0,1594.0,488.0,772.0,1102.0,6776.0
VW e-Golf,EV,0.0,0.0,0.0,357.0,4232.0,3937.0,3534.0,1354.0,4863.0,18277.0
Kia Soul EV,EV,0.0,0.0,0.0,359.0,1015.0,1728.0,2157.0,1134.0,114.0,6507.0
Porsche Cayenne S E-Hybrid,PHEV,0.0,0.0,0.0,112.0,1163.0,2111.0,1574.0,1022.0,1140.0,7122.0
Mercedes S550 Plug,PHEV,0.0,0.0,0.0,0.0,118.0,550.0,666.0,96.0,371.0,1801.0
Volvo-XC90 Plug In,PHEV,0.0,0.0,0.0,0.0,86.0,2015.0,2358.0,1387.0,1710.0,7556.0
Tesla Model X,EV,0.0,0.0,0.0,0.0,208.0,19600.0,21700.0,26100.0,19425.0,87033.0
BMW X5,PHEV,0.0,0.0,0.0,0.0,892.0,5995.0,5349.0,4434.0,167.0,16837.0
Hyundai Sonata Plug In,PHEV,0.0,0.0,0.0,0.0,15.0,3000.0,2254.0,460.0,456.0,6185.0
Audi A3 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,4280.0,2877.0,2597.0,437.0,10191.0
BMW 3-series Plug-In,PHEV,0.0,0.0,0.0,0.0,0.0,880.0,4141.0,2600.0,705.0,8326.0
Mercedes GLE 550e,PHEV,0.0,0.0,0.0,0.0,0.0,231.0,463.0,966.0,1509.0,3169.0
BMW 7-series Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,23.0,707.0,339.0,80.0,1149.0
Mercedes C350We,PHEV,0.0,0.0,0.0,0.0,0.0,171.0,817.0,1721.0,2172.0,4881.0
Chevy Bolt,EV,0.0,0.0,0.0,0.0,0.0,579.0,23297.0,18019.0,16313.0,58208.0
Kia Optima Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,1512.0,965.0,350.0,2827.0
Hyundai Ioniq EV,EV,0.0,0.0,0.0,0.0,0.0,0.0,432.0,345.0,739.0,1516.0
Chrysler Pacifica Plug-in Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,2981.0,7062.0,5811.0,15854.0
Cadillac CT6,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,205.0,231.0,25.0,461.0
BMW 5-Series Plug in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,3759.0,8664.0,5442.0,17865.0
MINI Countryman S E,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,475.0,1564.0,494.0,2533.0
Porsche Panamera 4 E-H,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tesla Model 3,EV,0.0,0.0,0.0,0.0,0.0,0.0,1770.0,139782.0,154840.0,296392.0
Honda Clarity BEV,EV,0.0,0.0,0.0,0.0,0.0,0.0,1126.0,948.0,742.0,2816.0
Volvo XC60 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,356.0,2267.0,1682.0,4305.0
Volvo S90 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,112.0,437.0,407.0,956.0
Honda Clarity Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,903.0,18602.0,10728.0,30233.0
Mitsubishi Outlander Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4166.0,2810.0,6976.0
Hyundai Ioniq Plug-In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1590.0,1765.0,3355.0
Kia Niro Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3389.0,4051.0,7440.0
Mercedes GLC 350e Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,567.0,2459.0,3026.0
Jaguar I-Pace,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,393.0,2594.0,2987.0
Hyundai Kona Electric,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1721.0,1721.0
Subaru Crosstrek Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,880.0,880.0
Audi e-tron,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5369.0,5369.0
Kia Niro EV,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1562.0,1562.0
Total,NaN,17763.0,53171.0,97102.0,118882.0,114023.0,159616.0,195581.0,361315.0,326644.0,1444097.0

## (L) Loading - Upload Clean Data into Mongo Database

In [13]:
# Verify that the Amount column datatype has been made numeric
# df['Amount'].dtype

In [14]:
tesla_sales_dict = tesla_sales_clean_df.to_dict('records')
tesla_sales_dict

[{'Quarter_Yr': 'Q3 2012', 'Total_Sales': '250'},
 {'Quarter_Yr': 'Q4 2012', 'Total_Sales': '2400'},
 {'Quarter_Yr': 'Q1 2013', 'Total_Sales': '4900'},
 {'Quarter_Yr': 'Q2 2013', 'Total_Sales': '5150'},
 {'Quarter_Yr': 'Q3 2013', 'Total_Sales': '5500'},
 {'Quarter_Yr': 'Q4 2013', 'Total_Sales': '6892'},
 {'Quarter_Yr': 'Q1 2014', 'Total_Sales': '6457'},
 {'Quarter_Yr': 'Q2 2014', 'Total_Sales': '7579'},
 {'Quarter_Yr': 'Q3 2014', 'Total_Sales': '7785'},
 {'Quarter_Yr': 'Q4 2014', 'Total_Sales': '9834'},
 {'Quarter_Yr': 'Q1 2015', 'Total_Sales': '10045'},
 {'Quarter_Yr': 'Q2 2015', 'Total_Sales': '11532'},
 {'Quarter_Yr': 'Q3 2015', 'Total_Sales': '11603'},
 {'Quarter_Yr': 'Q4 2015', 'Total_Sales': '17478'},
 {'Quarter_Yr': 'Q1 2016', 'Total_Sales': '14820'},
 {'Quarter_Yr': 'Q2 2016', 'Total_Sales': '14402'},
 {'Quarter_Yr': 'Q3 2016', 'Total_Sales': '24821'},
 {'Quarter_Yr': 'Q4 2016', 'Total_Sales': '22254'},
 {'Quarter_Yr': 'Q1 2017', 'Total_Sales': '25051'},
 {'Quarter_Yr': 'Q2 2017', 'Total_Sales': '22026'},
 {'Quarter_Yr': 'Q3 2017', 'Total_Sales': '26137'},
 {'Quarter_Yr': 'Q4 2017', 'Total_Sales': '29967'},
 {'Quarter_Yr': 'Q1 2018', 'Total_Sales': '29997'},
 {'Quarter_Yr': 'Q2 2018', 'Total_Sales': '40740'},
 {'Quarter_Yr': 'Q3 2018', 'Total_Sales': '83725'},
 {'Quarter_Yr': 'Q4 2018', 'Total_Sales': '90700'},
 {'Quarter_Yr': 'Q1 2019', 'Total_Sales': '63000'},
 {'Quarter_Yr': 'Q2 2019', 'Total_Sales': '95200'},
 {'Quarter_Yr': 'Q3 2019', 'Total_Sales': '97186'},
 {'Quarter_Yr': 'Q4 2019', 'Total_Sales': '112095'},
 {'Quarter_Yr': 'Q1 2020', 'Total_Sales': '88496'},
 {'Quarter_Yr': 'Q2 2020', 'Total_Sales': '90891'},
 {'Quarter_Yr': 'Q3 2020', 'Total_Sales': '139593'},
 {'Quarter_Yr': 'Q4 2020', 'Total_Sales': '180667'},
 {'Quarter_Yr': 'Q1 2021', 'Total_Sales': '184800'}]

In [15]:

#Clear collection of existing documents
db.electric_vehicles.delete_many({})
# Insert new documents in empty collection
db.electric_vehicles.insert_many(tesla_sales_dict)

In [23]:
#Reset index
us_ev_sales_df.reset_index()
#Todo need to change year column headers to string and not number for pymongo upload

,index,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,0,Chevy Volt,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
1,1,Nissan Leaf,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
2,2,Smart ED,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
3,3,Mitsubishi I EV,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
4,4,BMW Active E,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,61,Last updated: January 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,62,Acronyms:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,63,EV: All-electric vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,64,PEV: Plug-in electric vehicle. These include b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,65,PHEV: Plug-in hybrid electric vehicle. These i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
us_ev_sales_df
us_ev_sales_dict = us_ev_sales_df.to_dict('records')
us_ev_sales_dict

[{'index': 0,
  'Vehicle': 'Chevy Volt',
  'Type': 'PHEV',
  2011: 7671.0,
  2012: 23461.0,
  2013: 23094.0,
  2014: 18805.0,
  2015: 15393.0,
  2016: 24739.0,
  2017: 20349.0,
  2018: 18306.0,
  2019: 4915.0,
  'Total': 156733.0},
 {'index': 1,
  'Vehicle': 'Nissan Leaf',
  'Type': 'EV',
  2011: 9674.0,
  2012: 9819.0,
  2013: 22610.0,
  2014: 30200.0,
  2015: 17269.0,
  2016: 14006.0,
  2017: 11230.0,
  2018: 14715.0,
  2019: 12365.0,
  'Total': 141888.0},
 {'index': 2,
  'Vehicle': 'Smart ED',
  'Type': 'EV',
  2011: 342.0,
  2012: 139.0,
  2013: 923.0,
  2014: 2594.0,
  2015: 1387.0,
  2016: 657.0,
  2017: 544.0,
  2018: 1219.0,
  2019: 680.0,
  'Total': 8485.0},
 {'index': 3,
  'Vehicle': 'Mitsubishi I EV',
  'Type': 'EV',
  2011: 76.0,
  2012: 588.0,
  2013: 1029.0,
  2014: 196.0,
  2015: 115.0,
  2016: 94.0,
  2017: 6.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 2104.0},
 {'index': 4,
  'Vehicle': 'BMW Active E',
  'Type': 'EV',
  2011: 0.0,
  2012: 673.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 673.0},
 {'index': 5,
  'Vehicle': 'Prius PHEV',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 12749.0,
  2013: 12088.0,
  2014: 13264.0,
  2015: 4191.0,
  2016: 2474.0,
  2017: 20936.0,
  2018: 27595.0,
  2019: 23630.0,
  'Total': 116927.0},
 {'index': 6,
  'Vehicle': 'Ford Focus EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 683.0,
  2013: 1738.0,
  2014: 1964.0,
  2015: 1582.0,
  2016: 901.0,
  2017: 1817.0,
  2018: 560.0,
  2019: 0.0,
  'Total': 9245.0},
 {'index': 7,
  'Vehicle': 'Honda Fit EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 93.0,
  2013: 569.0,
  2014: 407.0,
  2015: 2.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 1071.0},
 {'index': 8,
  'Vehicle': 'Tesla Model S',
  'Type': 'EV',
  2011: 0.0,
  2012: 2400.0,
  2013: 19400.0,
  2014: 16750.0,
  2015: 26200.0,
  2016: 30200.0,
  2017: 26500.0,
  2018: 25745.0,
  2019: 15090.0,
  'Total': 162285.0},
 {'index': 9,
  'Vehicle': 'Toyota RAV4 EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 192.0,
  2013: 1005.0,
  2014: 1184.0,
  2015: 18.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 2399.0},
 {'index': 10,
  'Vehicle': 'Ford C-Max Energi',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 2374.0,
  2013: 7154.0,
  2014: 8433.0,
  2015: 7591.0,
  2016: 7957.0,
  2017: 8140.0,
  2018: 582.0,
  2019: 0.0,
  'Total': 42231.0},
 {'index': 11,
  'Vehicle': 'Honda Accord',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 526.0,
  2014: 449.0,
  2015: 64.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 1039.0},
 {'index': 12,
  'Vehicle': 'Ford Fusion Energi',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 6089.0,
  2014: 11550.0,
  2015: 9750.0,
  2016: 15938.0,
  2017: 9632.0,
  2018: 8074.0,
  2019: 7476.0,
  'Total': 68509.0},
 {'index': 13,
  'Vehicle': 'Chevy Spark',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 560.0,
  2014: 1145.0,
  2015: 2629.0,
  2016: 3035.0,
  2017: 23.0,
  2018: 7.0,
  2019: 0.0,
  'Total': 7399.0},
 {'index': 14,
  'Vehicle': 'Fiat 500E',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 260.0,
  2014: 1503.0,
  2015: 3477.0,
  2016: 3737.0,
  2017: 3336.0,
  2018: 2250.0,
  2019: 632.0,
  'Total': 15195.0},
 {'index': 15,
  'Vehicle': 'Porsche Panamera S E-Hybrid',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 51.0,
  2014: 879.0,
  2015: 407.0,
  2016: 393.0,
  2017: 18.0,
  2018: 2036.0,
  2019: 1958.0,
  'Total': 5742.0},
 {'index': 16,
  'Vehicle': 'Cadillac ELR',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 6.0,
  2014: 1310.0,
  2015: 1024.0,
  2016: 534.0,
  2017: 17.0,
  2018: 1.0,
  2019: 0.0,
  'Total': 2892.0},
 {'index': 17,
  'Vehicle': 'BMW i3',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 6092.0,
  2015: 11024.0,
  2016: 7625.0,
  2017: 6276.0,
  2018: 6117.0,
  2019: 4854.0,
  'Total': 41988.0},
 {'index': 18,
  'Vehicle': 'Mercedes B-Class (B250e)',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 774.0,
  2015: 1906.0,
  2016: 632.0,
  2017: 744.0,
  2018: 135.0,
  2019: 9.0,
  'Total': 4200.0},
 {'index': 19,
  'Vehicle': 'BMW i8',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 555.0,
  2015: 2265.0,
  2016: 1594.0,
  2017: 488.0,
  2018: 772.0,
  2019: 1102.0,
  'Total': 6776.0},
 {'index': 20,
  'Vehicle': 'VW e-Golf',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 357.0,
  2015: 4232.0,
  2016: 3937.0,
  2017: 3534.0,
  2018: 1354.0,
  2019: 4863.0,
  'Total': 18277.0},
 {'index': 21,
  'Vehicle': 'Kia Soul EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 359.0,
  2015: 1015.0,
  2016: 1728.0,
  2017: 2157.0,
  2018: 1134.0,
  2019: 114.0,
  'Total': 6507.0},
 {'index': 22,
  'Vehicle': 'Porsche Cayenne S E-Hybrid',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 112.0,
  2015: 1163.0,
  2016: 2111.0,
  2017: 1574.0,
  2018: 1022.0,
  2019: 1140.0,
  'Total': 7122.0},
 {'index': 23,
  'Vehicle': 'Mercedes S550 Plug',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 118.0,
  2016: 550.0,
  2017: 666.0,
  2018: 96.0,
  2019: 371.0,
  'Total': 1801.0},
 {'index': 24,
  'Vehicle': 'Volvo-XC90 Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 86.0,
  2016: 2015.0,
  2017: 2358.0,
  2018: 1387.0,
  2019: 1710.0,
  'Total': 7556.0},
 {'index': 25,
  'Vehicle': 'Tesla Model X',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 208.0,
  2016: 19600.0,
  2017: 21700.0,
  2018: 26100.0,
  2019: 19425.0,
  'Total': 87033.0},
 {'index': 26,
  'Vehicle': 'BMW X5',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 892.0,
  2016: 5995.0,
  2017: 5349.0,
  2018: 4434.0,
  2019: 167.0,
  'Total': 16837.0},
 {'index': 27,
  'Vehicle': 'Hyundai Sonata Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 15.0,
  2016: 3000.0,
  2017: 2254.0,
  2018: 460.0,
  2019: 456.0,
  'Total': 6185.0},
 {'index': 28,
  'Vehicle': 'Audi A3 Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 4280.0,
  2017: 2877.0,
  2018: 2597.0,
  2019: 437.0,
  'Total': 10191.0},
 {'index': 29,
  'Vehicle': 'BMW 3-series Plug-In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 880.0,
  2017: 4141.0,
  2018: 2600.0,
  2019: 705.0,
  'Total': 8326.0},
 {'index': 30,
  'Vehicle': 'Mercedes GLE 550e',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 231.0,
  2017: 463.0,
  2018: 966.0,
  2019: 1509.0,
  'Total': 3169.0},
 {'index': 31,
  'Vehicle': 'BMW 7-series Plug-in',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 23.0,
  2017: 707.0,
  2018: 339.0,
  2019: 80.0,
  'Total': 1149.0},
 {'index': 32,
  'Vehicle': 'Mercedes C350We',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 171.0,
  2017: 817.0,
  2018: 1721.0,
  2019: 2172.0,
  'Total': 4881.0},
 {'index': 33,
  'Vehicle': 'Chevy Bolt',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 579.0,
  2017: 23297.0,
  2018: 18019.0,
  2019: 16313.0,
  'Total': 58208.0},
 {'index': 34,
  'Vehicle': 'Kia Optima Plug-in',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 1512.0,
  2018: 965.0,
  2019: 350.0,
  'Total': 2827.0},
 {'index': 35,
  'Vehicle': 'Hyundai Ioniq EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 432.0,
  2018: 345.0,
  2019: 739.0,
  'Total': 1516.0},
 {'index': 36,
  'Vehicle': 'Chrysler Pacifica Plug-in Hybrid',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 2981.0,
  2018: 7062.0,
  2019: 5811.0,
  'Total': 15854.0},
 {'index': 37,
  'Vehicle': 'Cadillac CT6',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 205.0,
  2018: 231.0,
  2019: 25.0,
  'Total': 461.0},
 {'index': 38,
  'Vehicle': 'BMW 5-Series Plug in',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 3759.0,
  2018: 8664.0,
  2019: 5442.0,
  'Total': 17865.0},
 {'index': 39,
  'Vehicle': 'MINI Countryman S E',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 475.0,
  2018: 1564.0,
  2019: 494.0,
  'Total': 2533.0},
 {'index': 40,
  'Vehicle': 'Porsche Panamera 4 E-H',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 0.0,
  'Total': 0.0},
 {'index': 41,
  'Vehicle': 'Tesla Model 3',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 1770.0,
  2018: 139782.0,
  2019: 154840.0,
  'Total': 296392.0},
 {'index': 42,
  'Vehicle': 'Honda Clarity BEV',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 1126.0,
  2018: 948.0,
  2019: 742.0,
  'Total': 2816.0},
 {'index': 43,
  'Vehicle': 'Volvo XC60 Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 356.0,
  2018: 2267.0,
  2019: 1682.0,
  'Total': 4305.0},
 {'index': 44,
  'Vehicle': 'Volvo S90 Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 112.0,
  2018: 437.0,
  2019: 407.0,
  'Total': 956.0},
 {'index': 45,
  'Vehicle': 'Honda Clarity Plug-in',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 903.0,
  2018: 18602.0,
  2019: 10728.0,
  'Total': 30233.0},
 {'index': 46,
  'Vehicle': 'Mitsubishi Outlander Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 4166.0,
  2019: 2810.0,
  'Total': 6976.0},
 {'index': 47,
  'Vehicle': 'Hyundai Ioniq Plug-In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 1590.0,
  2019: 1765.0,
  'Total': 3355.0},
 {'index': 48,
  'Vehicle': 'Kia Niro Plug In',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 3389.0,
  2019: 4051.0,
  'Total': 7440.0},
 {'index': 49,
  'Vehicle': 'Mercedes GLC 350e Hybrid',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 567.0,
  2019: 2459.0,
  'Total': 3026.0},
 {'index': 50,
  'Vehicle': 'Jaguar I-Pace',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 393.0,
  2019: 2594.0,
  'Total': 2987.0},
 {'index': 51,
  'Vehicle': 'Hyundai Kona Electric',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 1721.0,
  'Total': 1721.0},
 {'index': 52,
  'Vehicle': 'Subaru Crosstrek Hybrid',
  'Type': 'PHEV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 880.0,
  'Total': 880.0},
 {'index': 53,
  'Vehicle': 'Audi e-tron',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 5369.0,
  'Total': 5369.0},
 {'index': 54,
  'Vehicle': 'Kia Niro EV',
  'Type': 'EV',
  2011: 0.0,
  2012: 0.0,
  2013: 0.0,
  2014: 0.0,
  2015: 0.0,
  2016: 0.0,
  2017: 0.0,
  2018: 0.0,
  2019: 1562.0,
  'Total': 1562.0},
 {'index': 55,
  'Vehicle': 'Total',
  'Type': nan,
  2011: 17763.0,
  2012: 53171.0,
  2013: 97102.0,
  2014: 118882.0,
  2015: 114023.0,
  2016: 159616.0,
  2017: 195581.0,
  2018: 361315.0,
  2019: 326644.0,
  'Total': 1444097.0},
 {'index': 56,
  'Vehicle': nan,
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 57,
  'Vehicle': 'Data Source: ',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 58,
  'Vehicle': 'Transportation Research Center at Argonne National Laboratory, anl.gov/es/light-duty-electric-drive-vehicles-monthly-sales-updates',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 59,
  'Vehicle': 'Notes:',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 60,
  'Vehicle': 'PEVs include both EVs and PHEVs but do not include Neighborhood Electric Vehicles, Low Speed Electric Vehicles, or two-wheeled electric vehicles. Only full-sized vehicles sold in the United States and capable of 60mph are listed.',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 61,
  'Vehicle': 'Last updated: January 2020',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 62,
  'Vehicle': 'Acronyms:',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 63,
  'Vehicle': 'EV: All-electric vehicle',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 64,
  'Vehicle': 'PEV: Plug-in electric vehicle. These include both all-electric and plug-in hybrid electric vehicles.',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan},
 {'index': 65,
  'Vehicle': 'PHEV: Plug-in hybrid electric vehicle. These include any vehicle that has both an electric motor and gasoline engine, including extended-range electric vehicles.',
  'Type': nan,
  2011: nan,
  2012: nan,
  2013: nan,
  2014: nan,
  2015: nan,
  2016: nan,
  2017: nan,
  2018: nan,
  2019: nan,
  'Total': nan}]

In [31]:
# db.electric_vehicles.delete_many({})
# Insert new documents in empty collection
db.electric_vehicles.insert_many(us_ev_sales_dict)

InvalidDocument: documents must have only string keys, key was 2011