In [ ]:
#Import dependencies
import pandas as pd
import pymongo
import json

## (E) Extract - Scrape Raw Data from sources

In [ ]:
# Define url to scrape
tesla_wiki_url = 'https://en.wikipedia.org/wiki/History_of_Tesla,_Inc.#Timeline_of_production_and_sales'

In [ ]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(tesla_wiki_url)
tables

In [ ]:
#Select table regarding Total Tesla production and sales since 2012
tesla_prod_df = tables[4]
tesla_prod_df

## (T) Transform - Clean Data

In [ ]:
# Get relevant sales columns columns and create new df
tesla_sales_df = tesla_prod_df[['Quarter','Totalsales[b]']]
tesla_sales_df

In [ ]:
#Rename columns
tesla_sales_df = tesla_sales_df.rename(columns = {'Quarter':'Quarter_Yr','Totalsales[b]':'Total_Sales'})
# tesla_sales_df.columns = ['Quarter_Yr', 'Total_Sales']
tesla_sales_df

In [ ]:
#Check data types
tesla_sales_df['Total_Sales'].dtype

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'electric_vehicles' database in Mongo
db = client.electric_vehicles

In [95]:
tesla_sales_df['Total_Sales'] = tesla_sales_df['Total_Sales'].replace(
    {'5,500+': '5500', '250+': '250'})
tesla_sales_df['Quarter_Yr'] = tesla_sales_df['Quarter_Yr'].replace(
    {'Q4 2016[d]': 'Q4 2016'})
tesla_sales_clean_df = tesla_sales_df
tesla_sales_clean_df.set_index('Quarter_Yr')

           Total_Sales
Quarter_Yr
Q3 2012            250
Q4 2012           2400
Q1 2013           4900
Q2 2013           5150
Q3 2013           5500
Q4 2013           6892
Q1 2014           6457
Q2 2014           7579
Q3 2014           7785
Q4 2014           9834
Q1 2015          10045
Q2 2015          11532
Q3 2015          11603
Q4 2015          17478
Q1 2016          14820
Q2 2016          14402
Q3 2016          24821
Q4 2016          22254
Q1 2017          25051
Q2 2017          22026
Q3 2017          26137
Q4 2017          29967
Q1 2018          29997
Q2 2018          40740
Q3 2018          83725
Q4 2018          90700
Q1 2019          63000
Q2 2019          95200
Q3 2019          97186
Q4 2019         112095
Q1 2020          88496
Q2 2020          90891
Q3 2020         139593
Q4 2020         180667
Q1 2021         184800

In [ ]:
## (L) Loading - Upload Clean Data into Mongo Database

In [89]:
# Verify that the Amount column datatype has been made numeric
# df['Amount'].dtype

NameError: name 'dtype' is not defined

In [100]:
tesla_sales_dict = tesla_sales_clean_df.to_dict('records')
tesla_sales_dict

In [102]:
db.electric_vehicles.insert_many(tesla_sales_dict)

SyntaxError: invalid syntax (<ipython-input-102-a6242dfbad02>, line 1)