## (E) Extract - Raw Data from sources

This notebook has been used to scrap data from Wikipedia and readily downloadable files

Web Scraping:
* EV Market share of total new car sales by Country 2013 - 2020
* Current EV Situation by notable Countries

In [78]:
#Import dependencies
import pandas as pd
import pymongo
import json

In [79]:
# Define url to scrape
url = 'https://en.wikipedia.org/wiki/Electric_car_use_by_country#cite_note-34'

In [80]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(url)
tables

    174
 7           8      Tesla Model X    150
 8           9      Hyundai Ioniq     98
 9          10  Mitsubishi i-MiEV     31,
                            Year           2015           2016  2017  2018  \
 0   Total new BEV registrations           3257           3295  4775  5139
 1  % of total new registrations  not available  not available  1.5%  1.7%

   SEM 1 2019
 0       5938
 1       3.8%  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteRenewable energy by country and territory  \
 0                                             Africa
 1                                               Asia
 2                                             Europe
 3                                     European Union
 4                                              Other
 5                                      North America
 6                                            Oceania
 7                                      South America
 8        Category Portals:  Energy  Renewable energy

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteRenewable energy by country and territory.1
 0     Ethiopia Kenya Morocco Seychelles South Africa
 1  Afghanistan Bangladesh Bhutan Brunei China Ind...
 2  European Union Austria Czech Republic Cyprus D...
 3  Austria Czech Republic Cyprus Denmark Finland ...
 4  Albania Armenia Belarus Iceland Kosovo Norway ...
 5    Canada Costa Rica Honduras Mexico United States
 6          Australia Cook Islands New Zealand Tuvalu
 7                    Argentina Brazil Chile Colombia
 8        Category Portals:  Energy  Renewable energy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ,
                 0                                                  1
 0  European Union  Austria Czech Republic Cyprus Denmark Finland ...
 1           Other  Albania Armenia Belarus Iceland Kosovo Norway ...]

In [81]:
#Select table regarding EV Market Share since 2013
market_share_df = tables[4]
market_share_df.head()

,Country,2020,2019[118],2018,2017,2016[17][119],2015[120][121],2014[122],2013[123]
0,Norway[90][92][93][124],74.7%,55.9%,49.1%,39.2%,29.1%,22.4%,13.8%,6.1%
1,Iceland[125][126][127][128][129],45.0%,22.6%,19%,14.05%,4.6%,2.93%,2.71%,0.94%
2,Sweden[106][130][131][132],32.2%,11.4%,8.2%,5.2%,3.5%,2.62%,1.53%,0.71%
3,Netherlands[133][134][75],24.6%,14.9%,6.2%,2.2%,6.7%,9.9%,3.87%,5.55%
4,Finland[125][135][136][137],18.1%,6.9%,4.7%,2.57%,1.2%,NaN,NaN,NaN

# Transform (T) - Clean the data

In [82]:
# Replace/Fill NaN entries with '0'
market_share_clean_df = market_share_df
market_share_clean_df = market_share_clean_df.fillna(0)
market_share_clean_df.tail()

,Country,2020,2019[118],2018,2017,2016[17][119],2015[120][121],2014[122],2013[123]
22,0,0,0,0,0,0,0,0,0
23,California[110][182],8.1%,7.6%,7.6%,4.9%,3.6%,3.1%,3.2%,2.5%
24,Europe[109][125][183][184][185][186][164][ii],11.4%,3.6%,2.5%,1.74%,1.3%,1.41%,0.66%,0.49%
25,Hong Kong[187][188][189],14%,5%,0,0,5%,4.84%,0,0.39%
26,"Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market...","Notes ^ For 2015 and before, the French market..."

In [83]:
# Drop irrelevant rows. axis=0:row axis = 1:column
market_share_clean_df = market_share_clean_df.drop(market_share_clean_df.index[22:], axis=0) 
market_share_clean_df.tail()

,Country,2020,2019[118],2018,2017,2016[17][119],2015[120][121],2014[122],2013[123]
17,Canada[107][171],0,3.0%,2.2%,0.92%,0.58%,0.35%,0.28%,0.18%
18,New Zealand[172],0,2.8%,0.96%,0.72%,0.50%,0.23%,0.21%,0
19,United States[173][174][85][175][176][177],1.9%,2.0%,2.1%,1.1%,0.90%,0.66%,0.72%,0.60%
20,Japan[178][102][179],0,0.9%,1.0%,1.1%,0.59%,0.68%,1.06%,0.91%
21,Global average[6][7][8][180][181],4.2%,2.5%,2.1%,1.3%,0.86%,0.7%,0.4%,0.3%

In [84]:
#Remove '[xxx]', and '%' from certain values note [',']' are regex char and must be escaped with \
# Test your regex at: https://regexr.com/
market_share_clean_df = market_share_clean_df.replace('\[(\w)+\]','',regex=True).replace('%','',regex=True)
market_share_clean_df

,Country,2020,2019[118],2018,2017,2016[17][119],2015[120][121],2014[122],2013[123]
0,Norway,74.7,55.9,49.1,39.2,29.1,22.4,13.8,6.1
1,Iceland,45.0,22.6,19,14.05,4.6,2.93,2.71,0.94
2,Sweden,32.2,11.4,8.2,5.2,3.5,2.62,1.53,0.71
3,Netherlands,24.6,14.9,6.2,2.2,6.7,9.9,3.87,5.55
4,Finland,18.1,6.9,4.7,2.57,1.2,0,0,0
5,Denmark,16.4,4.2,2,0.4,0.6,2.29,0.88,0.29
6,Switzerland,14.3,5.5,3.2,2.55,1.8,1.98,0.75,0.44
7,Germany,13.5,3.0,1.9,1.58,1.1,0.73,0.43,0.25
8,Portugal,13.5,5.7,3.6,1.9,0,0,0,0
9,France,11.2,2.8,2.11,1.98,1.4,1.19,0.70,0.83
10,UK,10.7,2.9,2.53,1.86,1.37,1.07,0.59,0.16
11,Belgium,10.7,3.2,2.5,2.7,1.8,0,0,0
12,Austria,9.5,3.5,2.6,2.06,1.6,0.90,0,0
13,Ireland,7.4,4.1,1.57,0.72,0.48,0.46,0.27,0
14,China,5.4,4.9,4.2,2.1,1.31,0.84,0.23,0.08
15,Spain,4.8,1.4,0.9,0.6,0.32,0,0,0
16,Italy,4.3,0.6,0.26,0.1,0.08,0.09,0.08,0.07
17,Canada,0,3.0,2.2,0.92,0.58,0.35,0.28,0.18
18,New Zealand,0,2.8,0.96,0.72,0.50,0.23,0.21,0
19,United States,1.9,2.0,2.1,1.1,0.90,0.66,0.72,0.60
20,Japan,0,0.9,1.0,1.1,0.59,0.68,1.06,0.91
21,Global average,4.2,2.5,2.1,1.3,0.86,0.7,0.4,0.3

In [85]:
# Rename column names
market_share_clean_df.columns = ['Country','2020','2019','2018','2017','2016','2015','2014','2013']
market_share_clean_df

           Country  2020  2019  2018   2017  2016  2015  2014  2013
0           Norway  74.7  55.9  49.1   39.2  29.1  22.4  13.8   6.1
1          Iceland  45.0  22.6    19  14.05   4.6  2.93  2.71  0.94
2           Sweden  32.2  11.4   8.2    5.2   3.5  2.62  1.53  0.71
3      Netherlands  24.6  14.9   6.2    2.2   6.7   9.9  3.87  5.55
4          Finland  18.1   6.9   4.7   2.57   1.2     0     0     0
5          Denmark  16.4   4.2     2    0.4   0.6  2.29  0.88  0.29
6      Switzerland  14.3   5.5   3.2   2.55   1.8  1.98  0.75  0.44
7          Germany  13.5   3.0   1.9   1.58   1.1  0.73  0.43  0.25
8         Portugal  13.5   5.7   3.6    1.9     0     0     0     0
9           France  11.2   2.8  2.11   1.98   1.4  1.19  0.70  0.83
10              UK  10.7   2.9  2.53   1.86  1.37  1.07  0.59  0.16
11         Belgium  10.7   3.2   2.5    2.7   1.8     0     0     0
12         Austria   9.5   3.5   2.6   2.06   1.6  0.90     0     0
13         Ireland   7.4   4.1  1.57   0.72  0.48  0.46  0.27     0
14           China   5.4   4.9   4.2    2.1  1.31  0.84  0.23  0.08
15           Spain   4.8   1.4   0.9    0.6  0.32     0     0     0
16           Italy   4.3   0.6  0.26    0.1  0.08  0.09  0.08  0.07
17          Canada     0   3.0   2.2   0.92  0.58  0.35  0.28  0.18
18     New Zealand     0   2.8  0.96   0.72  0.50  0.23  0.21     0
19   United States   1.9   2.0   2.1    1.1  0.90  0.66  0.72  0.60
20           Japan     0   0.9   1.0    1.1  0.59  0.68  1.06  0.91
21  Global average   4.2   2.5   2.1    1.3  0.86   0.7   0.4   0.3

# Load the data into MongoDB (L)

In [86]:
#Connection string 
conn = 'mongodb://localhost:27017'#local host
#Create pymongo object instance of connection to the new client
client = pymongo.MongoClient(conn)

# Define the 'electric_vehicles' database in Mongo
db = client.electric_vehicles
# Define new collections to load cleaned data into
global_market_share_coll = db.global_market_share

In [87]:
market_share_clean_dict = market_share_clean_df.to_dict('records')
market_share_clean_dict[:5]

[{'Country': 'Norway',
  '2020': '74.7',
  '2019': '55.9',
  '2018': '49.1',
  '2017': '39.2',
  '2016': '29.1',
  '2015': '22.4',
  '2014': '13.8',
  '2013': '6.1'},
 {'Country': 'Iceland',
  '2020': '45.0',
  '2019': '22.6',
  '2018': '19',
  '2017': '14.05',
  '2016': '4.6',
  '2015': '2.93',
  '2014': '2.71',
  '2013': '0.94'},
 {'Country': 'Sweden',
  '2020': '32.2',
  '2019': '11.4',
  '2018': '8.2',
  '2017': '5.2',
  '2016': '3.5',
  '2015': '2.62',
  '2014': '1.53',
  '2013': '0.71'},
 {'Country': 'Netherlands',
  '2020': '24.6',
  '2019': '14.9',
  '2018': '6.2',
  '2017': '2.2',
  '2016': '6.7',
  '2015': '9.9',
  '2014': '3.87',
  '2013': '5.55'},
 {'Country': 'Finland',
  '2020': '18.1',
  '2019': '6.9',
  '2018': '4.7',
  '2017': '2.57',
  '2016': '1.2',
  '2015': 0,
  '2014': 0,
  '2013': 0}]

In [ ]:
#Clear collection of existing documents
global_market_share_coll.delete_many({})
# Insert new documents in empty collection
global_market_share_coll.insert_many(market_share_clean_dict)