In [313]:
#Import dependencies
import pandas as pd
import pymongo
import json

## (E) Extract - Scrape Raw Data from sources

In [314]:
# Define url to scrape
tesla_wiki_url = 'https://en.wikipedia.org/wiki/History_of_Tesla,_Inc.#Timeline_of_production_and_sales'

In [315]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(tesla_wiki_url)
tables

 9   Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...
 10  Tesla Factory (Fremont, California) European d...
 11  Criticism of Tesla Lawsuits (list) Dealership ...
 12  History Timeline SolarCity Tesla Roadster in s...
 13                                           Category

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteTesla, Inc..2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                           Category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ,
                 0                                                  1
 0         Current                    Model S Model 3 Model X Model Y
 1          Future  Cybertruck ATV/Cyberquad Roadster (2nd generat...
 2    Discontinued                          Roadster (1st generation)
 3  Joint projects  Mercedes A-Class E-Cell Mercedes-Benz B-Class ...,
             0                                                  1
 0  Executives  Robyn Denholm (Chairman) Elon Musk (CEO) Zach ...
 1      Others  Larry Ellison (board) Hiromichi Mizuno (board)...
 2      Former  Deepak Ahuja (two-time CFO) Ze'ev Drori (secon...]

In [316]:
#Select table regarding Total Tesla production and sales since 2012
tesla_prod_df = tables[4]
tesla_prod_df.head()

,Quarter,Cumulativeproduction,Totalproduction,Model Ssales,Model Xsales,Model 3sales,Model Ysales[a],Totalsales[b],In transit[c],Source
0,Q3 2012,NaN,350,250+,NaN,NaN,NaN,250+,NaN,[187]
1,Q4 2012,NaN,"2,750+",2400,NaN,NaN,NaN,2400,NaN,[188]
2,Q1 2013,NaN,"5,000+",4900,NaN,NaN,NaN,4900,NaN,[189]
3,Q2 2013,NaN,NaN,5150,NaN,NaN,NaN,5150,NaN,[190]
4,Q3 2013,NaN,NaN,"5,500+",NaN,NaN,NaN,"5,500+",NaN,[191]

## (T) Transform - Clean Data

In [317]:
# Replace/Fill NaN entries with '0'
tesla_prod_clean_df = tesla_prod_df.fillna(0)
tesla_prod_clean_df.head()

,Quarter,Cumulativeproduction,Totalproduction,Model Ssales,Model Xsales,Model 3sales,Model Ysales[a],Totalsales[b],In transit[c],Source
0,Q3 2012,0,350,250+,0,0.0,0.0,250+,0,[187]
1,Q4 2012,0,"2,750+",2400,0,0.0,0.0,2400,0,[188]
2,Q1 2013,0,"5,000+",4900,0,0.0,0.0,4900,0,[189]
3,Q2 2013,0,0,5150,0,0.0,0.0,5150,0,[190]
4,Q3 2013,0,0,"5,500+",0,0.0,0.0,"5,500+",0,[191]

In [318]:
# Drop irrelevant columns. axis=0:row axis = 1:column
tesla_prod_clean_df = tesla_prod_clean_df.drop(['Source', 'In transit[c]'], axis=1) 
tesla_prod_clean_df.head()

,Quarter,Cumulativeproduction,Totalproduction,Model Ssales,Model Xsales,Model 3sales,Model Ysales[a],Totalsales[b]
0,Q3 2012,0,350,250+,0,0.0,0.0,250+
1,Q4 2012,0,"2,750+",2400,0,0.0,0.0,2400
2,Q1 2013,0,"5,000+",4900,0,0.0,0.0,4900
3,Q2 2013,0,0,5150,0,0.0,0.0,5150
4,Q3 2013,0,0,"5,500+",0,0.0,0.0,"5,500+"

In [319]:
# Rename column names
tesla_prod_clean_df.columns = ['Quarter','Cumulative_Prod','Total_Prod','Model_S_Sales','ModelX_Sales','Model_3_Sales','Model_Y_Sales','Total_Sales']
tesla_prod_clean_df

,Quarter,Cumulative_Prod,Total_Prod,Model_S_Sales,ModelX_Sales,Model_3_Sales,Model_Y_Sales,Total_Sales
0,Q3 2012,0,350,250+,0,0.0,0.0,250+
1,Q4 2012,0,"2,750+",2400,0,0.0,0.0,2400
2,Q1 2013,0,"5,000+",4900,0,0.0,0.0,4900
3,Q2 2013,0,0,5150,0,0.0,0.0,5150
4,Q3 2013,0,0,"5,500+",0,0.0,0.0,"5,500+"
5,Q4 2013,"~34,851",6587,6892,0,0.0,0.0,6892
6,Q1 2014,"~41,438",7535,6457,0,0.0,0.0,6457
7,Q2 2014,"~48,973",8763,7579,0,0.0,0.0,7579
8,Q3 2014,"~57,736","~7,075",7785,0,0.0,0.0,7785
9,Q4 2014,64811,11627,9834,0,0.0,0.0,9834
10,Q1 2015,76438,11160,10045,0,0.0,0.0,10045
11,Q2 2015,89245,12807,11532,0,0.0,0.0,11532
12,Q3 2015,102336,13091,11597,6,0.0,0.0,11603
13,Q4 2015,116373,14037,17272,206,0.0,0.0,17478
14,Q1 2016,131883,15510,12420,2400,0.0,0.0,14820
15,Q2 2016,150228,18345,9764,4638,0.0,0.0,14402
16,Q3 2016,175413,25185,16047,8774,0.0,0.0,24821
17,Q4 2016[d],200295,24882,12700,9500,0.0,0.0,22254
18,Q1 2017,225713,25418,"~13,450","~11,550",0.0,0.0,25051
19,Q2 2017,251421,25708,"~12,000","~10,000",0.0,0.0,22026
20,Q3 2017,276757,25336,14065,11865,222.0,0.0,26137
21,Q4 2017,301322,24565,"~15,200","~13,120",1542.0,0.0,29967
22,Q1 2018,335816,34494,11730,10070,8182.0,0.0,29997
23,Q2 2018,389155,53339,10930,11370,18440.0,0.0,40740
24,Q3 2018,469297,80142,14470,13190,56065.0,0.0,83725
25,Q4 2018,555852,86555,13500,14050,63359.0,0.0,90700
26,Q1 2019,632952,77100,12100,12100,50900.0,0.0,63000
27,Q2 2019,720000,87048,17650,17650,77550.0,0.0,95200
28,Q3 2019,816155,96155,17483,17483,79703.0,0.0,97186
29,Q4 2019,921046,104891,19475,19475,92620.0,0.0,112095
30,Q1 2020,1023718,102672,12230,12230,76266.0,76266.0,88496
31,Q2 2020,1105990,82272,10614,10614,80277.0,80277.0,90891
32,Q3 2020,1251026,145036,15275,15275,124318.0,124318.0,139593
33,Q4 2020,1430783,179757,18966,18966,161701.0,161701.0,180667
34,Q1 2021,1611121,180338,"2,020[e]","2,020[e]",182780.0,182780.0,184800

In [320]:
#Remove '+', ',' '~' from certain values note '+','[',']' are regex char and must be escaped with \
# tesla_prod_clean_df['Total_Sales'] = tesla_sales_df['Total_Sales'].replace({'5,500+': '5500', '250+': '250'})
tesla_prod_clean_df = tesla_prod_clean_df.replace('~','',regex=True).replace('\+','',regex=True).replace(',','',regex=True).replace('\[e\]','',regex=True)
tesla_prod_clean_df

,Quarter,Cumulative_Prod,Total_Prod,Model_S_Sales,ModelX_Sales,Model_3_Sales,Model_Y_Sales,Total_Sales
0,Q3 2012,0,350,250,0,0.0,0.0,250
1,Q4 2012,0,2750,2400,0,0.0,0.0,2400
2,Q1 2013,0,5000,4900,0,0.0,0.0,4900
3,Q2 2013,0,0,5150,0,0.0,0.0,5150
4,Q3 2013,0,0,5500,0,0.0,0.0,5500
5,Q4 2013,34851,6587,6892,0,0.0,0.0,6892
6,Q1 2014,41438,7535,6457,0,0.0,0.0,6457
7,Q2 2014,48973,8763,7579,0,0.0,0.0,7579
8,Q3 2014,57736,7075,7785,0,0.0,0.0,7785
9,Q4 2014,64811,11627,9834,0,0.0,0.0,9834
10,Q1 2015,76438,11160,10045,0,0.0,0.0,10045
11,Q2 2015,89245,12807,11532,0,0.0,0.0,11532
12,Q3 2015,102336,13091,11597,6,0.0,0.0,11603
13,Q4 2015,116373,14037,17272,206,0.0,0.0,17478
14,Q1 2016,131883,15510,12420,2400,0.0,0.0,14820
15,Q2 2016,150228,18345,9764,4638,0.0,0.0,14402
16,Q3 2016,175413,25185,16047,8774,0.0,0.0,24821
17,Q4 2016[d],200295,24882,12700,9500,0.0,0.0,22254
18,Q1 2017,225713,25418,13450,11550,0.0,0.0,25051
19,Q2 2017,251421,25708,12000,10000,0.0,0.0,22026
20,Q3 2017,276757,25336,14065,11865,222.0,0.0,26137
21,Q4 2017,301322,24565,15200,13120,1542.0,0.0,29967
22,Q1 2018,335816,34494,11730,10070,8182.0,0.0,29997
23,Q2 2018,389155,53339,10930,11370,18440.0,0.0,40740
24,Q3 2018,469297,80142,14470,13190,56065.0,0.0,83725
25,Q4 2018,555852,86555,13500,14050,63359.0,0.0,90700
26,Q1 2019,632952,77100,12100,12100,50900.0,0.0,63000
27,Q2 2019,720000,87048,17650,17650,77550.0,0.0,95200
28,Q3 2019,816155,96155,17483,17483,79703.0,0.0,97186
29,Q4 2019,921046,104891,19475,19475,92620.0,0.0,112095
30,Q1 2020,1023718,102672,12230,12230,76266.0,76266.0,88496
31,Q2 2020,1105990,82272,10614,10614,80277.0,80277.0,90891
32,Q3 2020,1251026,145036,15275,15275,124318.0,124318.0,139593
33,Q4 2020,1430783,179757,18966,18966,161701.0,161701.0,180667
34,Q1 2021,1611121,180338,2020,2020,182780.0,182780.0,184800

## (E) Extract 'US EV Sales Data' from Downloaded Spreadsheet

In [321]:
# Reas US EV Sales from Spreadsheet
excel_file = "10567_pev_sales_2-28-20.xlsx"
us_ev_sales_df = pd.read_excel(excel_file, 'PEV Sales Final 2019', header=2,index_col=1)
us_ev_sales_df

,Unnamed: 0,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Vehicle,,,,,,,,,,,,
Chevy Volt,NaN,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
Nissan Leaf,NaN,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
Smart ED,NaN,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
Mitsubishi I EV,NaN,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
BMW Active E,NaN,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Last updated: January 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acronyms:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EV: All-electric vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PEV: Plug-in electric vehicle. These include both all-electric and plug-in hybrid electric vehicles.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"PHEV: Plug-in hybrid electric vehicle. These include any vehicle that has both an electric motor and gasoline engine, including extended-range electric vehicles.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [322]:
#Remove first column
us_ev_sales_df = us_ev_sales_df.drop(us_ev_sales_df.columns[0], axis=1)
us_ev_sales_df

,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Vehicle,,,,,,,,,,,
Chevy Volt,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
Nissan Leaf,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
Smart ED,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
Mitsubishi I EV,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
BMW Active E,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
...,...,...,...,...,...,...,...,...,...,...,...
Last updated: January 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acronyms:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EV: All-electric vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PEV: Plug-in electric vehicle. These include both all-electric and plug-in hybrid electric vehicles.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"PHEV: Plug-in hybrid electric vehicle. These include any vehicle that has both an electric motor and gasoline engine, including extended-range electric vehicles.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:
# Remove redundant last rows
us_ev_sales_df = us_ev_sales_df.drop(us_ev_sales_df.index[56:], axis=0)
us_ev_sales_df.tail()

,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Vehicle,,,,,,,,,,,
Hyundai Kona Electric,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1721.0,1721.0
Subaru Crosstrek Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,880.0,880.0
Audi e-tron,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5369.0,5369.0
Kia Niro EV,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1562.0,1562.0
Total,NaN,17763.0,53171.0,97102.0,118882.0,114023.0,159616.0,195581.0,361315.0,326644.0,1444097.0

In [324]:
us_ev_sales_df = us_ev_sales_df.reset_index('Vehicle')
us_ev_sales_df

,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,Chevy Volt,PHEV,7671.0,23461.0,23094.0,18805.0,15393.0,24739.0,20349.0,18306.0,4915.0,156733.0
1,Nissan Leaf,EV,9674.0,9819.0,22610.0,30200.0,17269.0,14006.0,11230.0,14715.0,12365.0,141888.0
2,Smart ED,EV,342.0,139.0,923.0,2594.0,1387.0,657.0,544.0,1219.0,680.0,8485.0
3,Mitsubishi I EV,EV,76.0,588.0,1029.0,196.0,115.0,94.0,6.0,0.0,0.0,2104.0
4,BMW Active E,EV,0.0,673.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,673.0
5,Prius PHEV,PHEV,0.0,12749.0,12088.0,13264.0,4191.0,2474.0,20936.0,27595.0,23630.0,116927.0
6,Ford Focus EV,EV,0.0,683.0,1738.0,1964.0,1582.0,901.0,1817.0,560.0,0.0,9245.0
7,Honda Fit EV,EV,0.0,93.0,569.0,407.0,2.0,0.0,0.0,0.0,0.0,1071.0
8,Tesla Model S,EV,0.0,2400.0,19400.0,16750.0,26200.0,30200.0,26500.0,25745.0,15090.0,162285.0
9,Toyota RAV4 EV,EV,0.0,192.0,1005.0,1184.0,18.0,0.0,0.0,0.0,0.0,2399.0
10,Ford C-Max Energi,PHEV,0.0,2374.0,7154.0,8433.0,7591.0,7957.0,8140.0,582.0,0.0,42231.0
11,Honda Accord,PHEV,0.0,0.0,526.0,449.0,64.0,0.0,0.0,0.0,0.0,1039.0
12,Ford Fusion Energi,PHEV,0.0,0.0,6089.0,11550.0,9750.0,15938.0,9632.0,8074.0,7476.0,68509.0
13,Chevy Spark,EV,0.0,0.0,560.0,1145.0,2629.0,3035.0,23.0,7.0,0.0,7399.0
14,Fiat 500E,EV,0.0,0.0,260.0,1503.0,3477.0,3737.0,3336.0,2250.0,632.0,15195.0
15,Porsche Panamera S E-Hybrid,PHEV,0.0,0.0,51.0,879.0,407.0,393.0,18.0,2036.0,1958.0,5742.0
16,Cadillac ELR,PHEV,0.0,0.0,6.0,1310.0,1024.0,534.0,17.0,1.0,0.0,2892.0
17,BMW i3,EV,0.0,0.0,0.0,6092.0,11024.0,7625.0,6276.0,6117.0,4854.0,41988.0
18,Mercedes B-Class (B250e),EV,0.0,0.0,0.0,774.0,1906.0,632.0,744.0,135.0,9.0,4200.0
19,BMW i8,PHEV,0.0,0.0,0.0,555.0,2265.0,1594.0,488.0,772.0,1102.0,6776.0
20,VW e-Golf,EV,0.0,0.0,0.0,357.0,4232.0,3937.0,3534.0,1354.0,4863.0,18277.0
21,Kia Soul EV,EV,0.0,0.0,0.0,359.0,1015.0,1728.0,2157.0,1134.0,114.0,6507.0
22,Porsche Cayenne S E-Hybrid,PHEV,0.0,0.0,0.0,112.0,1163.0,2111.0,1574.0,1022.0,1140.0,7122.0
23,Mercedes S550 Plug,PHEV,0.0,0.0,0.0,0.0,118.0,550.0,666.0,96.0,371.0,1801.0
24,Volvo-XC90 Plug In,PHEV,0.0,0.0,0.0,0.0,86.0,2015.0,2358.0,1387.0,1710.0,7556.0
25,Tesla Model X,EV,0.0,0.0,0.0,0.0,208.0,19600.0,21700.0,26100.0,19425.0,87033.0
26,BMW X5,PHEV,0.0,0.0,0.0,0.0,892.0,5995.0,5349.0,4434.0,167.0,16837.0
27,Hyundai Sonata Plug In,PHEV,0.0,0.0,0.0,0.0,15.0,3000.0,2254.0,460.0,456.0,6185.0
28,Audi A3 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,4280.0,2877.0,2597.0,437.0,10191.0
29,BMW 3-series Plug-In,PHEV,0.0,0.0,0.0,0.0,0.0,880.0,4141.0,2600.0,705.0,8326.0
30,Mercedes GLE 550e,PHEV,0.0,0.0,0.0,0.0,0.0,231.0,463.0,966.0,1509.0,3169.0
31,BMW 7-series Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,23.0,707.0,339.0,80.0,1149.0
32,Mercedes C350We,PHEV,0.0,0.0,0.0,0.0,0.0,171.0,817.0,1721.0,2172.0,4881.0
33,Chevy Bolt,EV,0.0,0.0,0.0,0.0,0.0,579.0,23297.0,18019.0,16313.0,58208.0
34,Kia Optima Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,1512.0,965.0,350.0,2827.0
35,Hyundai Ioniq EV,EV,0.0,0.0,0.0,0.0,0.0,0.0,432.0,345.0,739.0,1516.0
36,Chrysler Pacifica Plug-in Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,2981.0,7062.0,5811.0,15854.0
37,Cadillac CT6,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,205.0,231.0,25.0,461.0
38,BMW 5-Series Plug in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,3759.0,8664.0,5442.0,17865.0
39,MINI Countryman S E,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,475.0,1564.0,494.0,2533.0
40,Porsche Panamera 4 E-H,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,Tesla Model 3,EV,0.0,0.0,0.0,0.0,0.0,0.0,1770.0,139782.0,154840.0,296392.0
42,Honda Clarity BEV,EV,0.0,0.0,0.0,0.0,0.0,0.0,1126.0,948.0,742.0,2816.0
43,Volvo XC60 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,356.0,2267.0,1682.0,4305.0
44,Volvo S90 Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,112.0,437.0,407.0,956.0
45,Honda Clarity Plug-in,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,903.0,18602.0,10728.0,30233.0
46,Mitsubishi Outlander Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4166.0,2810.0,6976.0
47,Hyundai Ioniq Plug-In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1590.0,1765.0,3355.0
48,Kia Niro Plug In,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3389.0,4051.0,7440.0
49,Mercedes GLC 350e Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,567.0,2459.0,3026.0
50,Jaguar I-Pace,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,393.0,2594.0,2987.0
51,Hyundai Kona Electric,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1721.0,1721.0
52,Subaru Crosstrek Hybrid,PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,880.0,880.0
53,Audi e-tron,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5369.0,5369.0
54,Kia Niro EV,EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1562.0,1562.0
55,Total,NaN,17763.0,53171.0,97102.0,118882.0,114023.0,159616.0,195581.0,361315.0,326644.0,1444097.0

## (L) Loading - Upload Clean Data into Mongo Database

In [325]:
#Connection string 
conn = 'mongodb://localhost:27017'#local host
#Create pymongo object instance of connection to the new client
client = pymongo.MongoClient(conn)

# Define the 'electric_vehicles' database in Mongo
db = client.electric_vehicles
# Define new collections to load cleaned data into
tesla_prod_coll = db.tesla_production_sales
us_ev_sales_coll = db.us_ev_sales

In [326]:
tesla_prod_dict = tesla_prod_clean_df.to_dict('records')
tesla_prod_dict[:5]

[{'Quarter': 'Q3 2012',
  'Cumulative_Prod': 0,
  'Total_Prod': '350',
  'Model_S_Sales': '250',
  'ModelX_Sales': 0,
  'Model_3_Sales': 0.0,
  'Model_Y_Sales': 0.0,
  'Total_Sales': '250'},
 {'Quarter': 'Q4 2012',
  'Cumulative_Prod': 0,
  'Total_Prod': '2750',
  'Model_S_Sales': '2400',
  'ModelX_Sales': 0,
  'Model_3_Sales': 0.0,
  'Model_Y_Sales': 0.0,
  'Total_Sales': '2400'},
 {'Quarter': 'Q1 2013',
  'Cumulative_Prod': 0,
  'Total_Prod': '5000',
  'Model_S_Sales': '4900',
  'ModelX_Sales': 0,
  'Model_3_Sales': 0.0,
  'Model_Y_Sales': 0.0,
  'Total_Sales': '4900'},
 {'Quarter': 'Q2 2013',
  'Cumulative_Prod': 0,
  'Total_Prod': 0,
  'Model_S_Sales': '5150',
  'ModelX_Sales': 0,
  'Model_3_Sales': 0.0,
  'Model_Y_Sales': 0.0,
  'Total_Sales': '5150'},
 {'Quarter': 'Q3 2013',
  'Cumulative_Prod': 0,
  'Total_Prod': 0,
  'Model_S_Sales': '5500',
  'ModelX_Sales': 0,
  'Model_3_Sales': 0.0,
  'Model_Y_Sales': 0.0,
  'Total_Sales': '5500'}]

In [327]:

#Clear collection of existing documents
tesla_prod_coll.delete_many({})
# Insert new documents in empty collection
tesla_prod_coll.insert_many(tesla_prod_dict)

In [328]:
# Check column types
print(us_ev_sales_df.columns)

Index(['Vehicle',    'Type',      2011,      2012,      2013,      2014,
            2015,      2016,      2017,      2018,      2019,   'Total'],
      dtype='object')

In [335]:
#Convert column names / keys data types to string due to Pymongo insert error: documents must have only string keys, key was '2011'
us_ev_sales_df.columns = ['Vehicle',    'Type',      '2011',      '2012',      '2013',      '2014',
            '2015',      '2016',      '2017',      '2018',      '2019',   'Total']
print(us_ev_sales_df.columns)

Index(['Vehicle', 'Type', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', 'Total'],
      dtype='object')

In [336]:
us_ev_sales_dict = us_ev_sales_df.to_dict('records')
us_ev_sales_dict[:5]

[{'Vehicle': 'Chevy Volt',
  'Type': 'PHEV',
  '2011': 7671.0,
  '2012': 23461.0,
  '2013': 23094.0,
  '2014': 18805.0,
  '2015': 15393.0,
  '2016': 24739.0,
  '2017': 20349.0,
  '2018': 18306.0,
  '2019': 4915.0,
  'Total': 156733.0},
 {'Vehicle': 'Nissan Leaf',
  'Type': 'EV',
  '2011': 9674.0,
  '2012': 9819.0,
  '2013': 22610.0,
  '2014': 30200.0,
  '2015': 17269.0,
  '2016': 14006.0,
  '2017': 11230.0,
  '2018': 14715.0,
  '2019': 12365.0,
  'Total': 141888.0},
 {'Vehicle': 'Smart ED',
  'Type': 'EV',
  '2011': 342.0,
  '2012': 139.0,
  '2013': 923.0,
  '2014': 2594.0,
  '2015': 1387.0,
  '2016': 657.0,
  '2017': 544.0,
  '2018': 1219.0,
  '2019': 680.0,
  'Total': 8485.0},
 {'Vehicle': 'Mitsubishi I EV',
  'Type': 'EV',
  '2011': 76.0,
  '2012': 588.0,
  '2013': 1029.0,
  '2014': 196.0,
  '2015': 115.0,
  '2016': 94.0,
  '2017': 6.0,
  '2018': 0.0,
  '2019': 0.0,
  'Total': 2104.0},
 {'Vehicle': 'BMW Active E',
  'Type': 'EV',
  '2011': 0.0,
  '2012': 673.0,
  '2013': 0.0,
  '2014': 0.0,
  '2015': 0.0,
  '2016': 0.0,
  '2017': 0.0,
  '2018': 0.0,
  '2019': 0.0,
  'Total': 673.0}]

In [337]:
#Clear collection of existing documents
us_ev_sales_coll.delete_many({})
# Insert new documents in empty collection
us_ev_sales_coll.insert_many(us_ev_sales_dict)